Drivers/CMSIS/Device/ST/STM32L4xx/Source/Templates/iar/linker/
*.log
*.o
*.d
*.crf
*.lock
*.htm
*.hex
*.inp
*.sct
*.axf
*.dep
*.scvd
*.map
*.Inp
*.axf
*.lst
/MDK-ARM/.vscode/uv4.log.lock
/MDK-ARM/build/AQITA-PM.elf
/MDK-ARM/build/ExtDll.iex
/MDK-ARM/.vscode/launch.json
/MDK-ARM/build/AQITA-PM.lnp
/MDK-ARM/.vscode/uv4.log.lock
/MDK-ARM/.vscode/c_cpp_properties.json
/MDK-ARM/JLinkLog.txt
/MDK-ARM/JLinkLog.txt
/MDK-ARM/build/main.__i
/MDK-ARM/build/startup_stm32l471xx._ia
/MDK-ARM/build/stm32l4xx_hal_adc_ex.__i
/MDK-ARM/build/stm32l4xx_hal_adc.__i
/MDK-ARM/build/stm32l4xx_hal_cortex.__i
/MDK-ARM/build/stm32l4xx_hal_dma_ex.__i
/MDK-ARM/build/stm32l4xx_hal_dma.__i
/MDK-ARM/build/stm32l4xx_hal_exti.__i
/MDK-ARM/build/stm32l4xx_hal_flash_ex.__i
/MDK-ARM/build/stm32l4xx_hal_flash_ramfunc.__i
/MDK-ARM/build/stm32l4xx_hal_flash.__i
/MDK-ARM/build/stm32l4xx_hal_gpio.__i
/MDK-ARM/build/stm32l4xx_hal_i2c_ex.__i
/MDK-ARM/build/stm32l4xx_hal_i2c.__i
/MDK-ARM/build/stm32l4xx_hal_msp.__i
/MDK-ARM/build/stm32l4xx_hal_pwr_ex.__i
/MDK-ARM/build/stm32l4xx_hal_pwr.__i
/MDK-ARM/build/stm32l4xx_hal_rcc_ex.__i
/MDK-ARM/build/stm32l4xx_hal_rcc.__i
/MDK-ARM/build/stm32l4xx_hal_spi.__i
/MDK-ARM/build/stm32l4xx_hal_tim_ex.__i
/MDK-ARM/build/stm32l4xx_hal_tim.__i
/MDK-ARM/build/stm32l4xx_hal_uart_ex.__i
/MDK-ARM/build/stm32l4xx_hal_uart.__i
/MDK-ARM/build/stm32l4xx_hal.__i
/MDK-ARM/build/stm32l4xx_it.__i
/MDK-ARM/build/system_stm32l4xx.__i
/MDK-ARM/build/uvx_batt.__i
/MDK-ARM/build/uvx_comm_bq.__i
/MDK-ARM/build/uvx_comm_m2jmb.__i
/MDK-ARM/build/uvx_comm_m2m.__i
/MDK-ARM/build/uvx_crc8.__i
/MDK-ARM/build/uvx_gpio.__i
/MDK-ARM/build/uvx_i2c.__i
/MDK-ARM/build/uvx_led_strip.__i
/MDK-ARM/build/uvx_spi.__i
/MDK-ARM/build/uvx_timer.__i
/MDK-ARM/build/uvx_uart.__i
/MDK-ARM/build/uvx_ws2812.__i
/MDK-ARM/.vscode/tasks.json
/MDK-ARM/Battery_Charging_Algorithm.drawio
/MDK-ARM/JLinkLog.txt
/MDK-ARM.code-workspace
/MDK-ARM/JLinkLog.txt
/MDK-ARM/FC_ESC v1.1 Cube Project.uvoptx
/MDK-ARM/FC_ESC v1.1 Cube Project.uvguix.g.ivanov
